body{
    background: rgb(65,215,254);
    background: linear-gradient(90deg, rgba(65,215,254,1) 0%, rgba(0,143,236,0.9640231092436975) 48%, rgba(0,212,255,1) 100%);
    background-size: cover;
    color: rgb(0, 0, 0); /* Text color */
    font-family: Arial, sans-serif; /* Font */
    height: 100vh;
}

.rad{
    border-color:black;
    border-radius: 16px;
}